= field_set_tag nil, id: 'location-options', class: 'input-search-filter input-search-filter-option' do
  = label_tag 'category', t('labels.category_search')
  = select_tag :categories, options_for_select(categories_for_select, params[:categories]), include_blank: 'All', class: "category_search_select"
