%div{ class: 'filter-label-container' }
  = label_tag :filters, 'Filter by Category', class: 'filter-header-label'

%div
  = field_set_tag nil, id: 'categories' do
    = nested_categories(filter_tree)
