- if location.accessibility.present?
  %section.location-sidebar-content.accessibility
    %ul
      - location.accessibility.sort.each do |accessibility_option|
        %li
          %span
            = "- #{accessibility_option}"
