- if user_signed_in?
  %section.wait-time
    %h1= t('service_fields.availability.service_wait_estimate')
    %section.inline-icon-text
      %i{ class: wait_time_icon_classes(service) }
      %span
        = service.wait_time || t('service_fields.availability.unknown')
