<div class='devise'>
  <div class='form'>
    <p>
      To obtain an account, please contact the Baltimore City Health Department at
      <a href="mailto: <%= SETTINGS[:feedback_email]['to'][0] %>?subject=<%= t('users.account_sign_up_subject') %>"><%= SETTINGS[:feedback_email]['to'][0] %> </a>
    </p>
  </div>
</div>