%section#category-topics
  %h2
    = t('labels.topic_prompt')
  .topics
    - SETTINGS[:homepage_topics].each_key do |topic|
      .topic
        %a{href: "#{locations_path keyword: topic.titleize}"}
          %span{class: "fa fa-#{SETTINGS[:homepage_topics][topic]}"}
          %p.title
            = topic.titleize
