- content_for(:meta_description, t('meta.description', location: t('branding.location')))
- title ''
%section#search-container
  = alert_tag(flash)
  = render 'component/search/box', recommended_tags: @recommended_tags
