- if service.wait_time.present?
  %tr.wait-time
    %td.name= service.name
    %td.availability.inline-icon-text
      %i{ class: wait_time_icon_classes(service) }
      %span
        = wait_time_text service.wait_time
